@model Profiles.Models.Education

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Education</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Period)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Period)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Professional)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Professional)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Intro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Intro)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
